Industrial 8xDI + 8xDO Modbus RTU IO Extender/Modbus RTU IO Extender.json
[
    {
        "id": "9118866ee87cc3d9",
        "type": "tab",
        "label": "Modbus RTU IO Extender",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0ab0a962d32b4c9",
        "type": "function",
        "z": "9118866ee87cc3d9",
        "name": "function 6",
        "func": "if (msg.payload[0] == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [
            [
                "b3eb84b952438d18"
            ]
        ]
    },
    {
        "id": "15892c7790ebd5f8",
        "type": "function",
        "z": "9118866ee87cc3d9",
        "name": "function 7",
        "func": "if (msg.payload[0] == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "d43b9f641270a8b8"
            ]
        ]
    },
    {
        "id": "4464b1b78b8a04c2",
        "type": "function",
        "z": "9118866ee87cc3d9",
        "name": "function 8",
        "func": "if (msg.payload[0] == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "b276e746142cbce6"
            ]
        ]
    },
    {
        "id": "dc076e0d94a8d853",
        "type": "function",
        "z": "9118866ee87cc3d9",
        "name": "function 9",
        "func": "if (msg.payload[0] == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "4e9b98ce428b0207"
            ]
        ]
    },
    {
        "id": "66498e66efb3bbcd",
        "type": "function",
        "z": "9118866ee87cc3d9",
        "name": "function 10",
        "func": "if (msg.payload[0] == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 300,
        "wires": [
            [
                "49fb4fda597c70ae"
            ]
        ]
    },
    {
        "id": "64def98a0f39a230",
        "type": "function",
        "z": "9118866ee87cc3d9",
        "name": "function 11",
        "func": "if (msg.payload[0] == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "f1739f78dd11b9b8"
            ]
        ]
    },
    {
        "id": "28046735974f1c57",
        "type": "function",
        "z": "9118866ee87cc3d9",
        "name": "function 12",
        "func": "if (msg.payload[0] == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 420,
        "wires": [
            [
                "4726b12a7244a364"
            ]
        ]
    },
    {
        "id": "c2525d292fefe39a",
        "type": "function",
        "z": "9118866ee87cc3d9",
        "name": "function 13",
        "func": "if (msg.payload[0] == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 480,
        "wires": [
            [
                "5d4fcfed09a91e26"
            ]
        ]
    },
    {
        "id": "b3eb84b952438d18",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Input 1",
        "tooltip": "",
        "group": "20353f0c7bb2bf15",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d43b9f641270a8b8",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Input 2",
        "tooltip": "",
        "group": "20353f0c7bb2bf15",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b276e746142cbce6",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Input 3",
        "tooltip": "",
        "group": "20353f0c7bb2bf15",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4e9b98ce428b0207",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Input 4",
        "tooltip": "",
        "group": "20353f0c7bb2bf15",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "49fb4fda597c70ae",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Input 5",
        "tooltip": "",
        "group": "20353f0c7bb2bf15",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f1739f78dd11b9b8",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Input 6",
        "tooltip": "",
        "group": "20353f0c7bb2bf15",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4726b12a7244a364",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Input 7",
        "tooltip": "",
        "group": "20353f0c7bb2bf15",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5d4fcfed09a91e26",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Input 8",
        "tooltip": "",
        "group": "20353f0c7bb2bf15",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ecda17f370e34d70",
        "type": "modbus-read",
        "z": "9118866ee87cc3d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "0",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "240d0a948d22ed88",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "b0ab0a962d32b4c9"
            ],
            []
        ]
    },
    {
        "id": "bfdfe3ae455fe1c5",
        "type": "modbus-read",
        "z": "9118866ee87cc3d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "1",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "240d0a948d22ed88",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "15892c7790ebd5f8"
            ],
            []
        ]
    },
    {
        "id": "363c7dc770d542d1",
        "type": "modbus-read",
        "z": "9118866ee87cc3d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "2",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "240d0a948d22ed88",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "4464b1b78b8a04c2"
            ],
            []
        ]
    },
    {
        "id": "07a6940bbf345a59",
        "type": "modbus-read",
        "z": "9118866ee87cc3d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "3",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "240d0a948d22ed88",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "dc076e0d94a8d853"
            ],
            []
        ]
    },
    {
        "id": "fe5e5937d26c245d",
        "type": "modbus-read",
        "z": "9118866ee87cc3d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "4",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "240d0a948d22ed88",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "66498e66efb3bbcd"
            ],
            []
        ]
    },
    {
        "id": "e690657b53239c40",
        "type": "modbus-read",
        "z": "9118866ee87cc3d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "5",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "240d0a948d22ed88",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "64def98a0f39a230"
            ],
            []
        ]
    },
    {
        "id": "5be34c7896f64859",
        "type": "modbus-read",
        "z": "9118866ee87cc3d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "6",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "240d0a948d22ed88",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "28046735974f1c57"
            ],
            []
        ]
    },
    {
        "id": "429b882715f5658f",
        "type": "modbus-read",
        "z": "9118866ee87cc3d9",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "7",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "240d0a948d22ed88",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "c2525d292fefe39a"
            ],
            []
        ]
    },
    {
        "id": "614671cb014b65ea",
        "type": "modbus-write",
        "z": "9118866ee87cc3d9",
        "name": "Channel 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "240d0a948d22ed88",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1130,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "59f9166387b43535",
        "type": "modbus-write",
        "z": "9118866ee87cc3d9",
        "name": "Channel 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "240d0a948d22ed88",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1130,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0dfbc6f790427e16",
        "type": "modbus-write",
        "z": "9118866ee87cc3d9",
        "name": "Channel 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "240d0a948d22ed88",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1130,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "601ffcb50f94b1cb",
        "type": "modbus-write",
        "z": "9118866ee87cc3d9",
        "name": "Channel 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "240d0a948d22ed88",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1130,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cbd434b803816faf",
        "type": "modbus-write",
        "z": "9118866ee87cc3d9",
        "name": "Channel 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "1",
        "server": "240d0a948d22ed88",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1130,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "aa2e147c73fc1764",
        "type": "modbus-write",
        "z": "9118866ee87cc3d9",
        "name": "Channel 6",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "1",
        "server": "240d0a948d22ed88",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1130,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0e0b9d066d3ee1fa",
        "type": "modbus-write",
        "z": "9118866ee87cc3d9",
        "name": "Channel 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "6",
        "quantity": "1",
        "server": "240d0a948d22ed88",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1130,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c47d14c79f223ada",
        "type": "modbus-write",
        "z": "9118866ee87cc3d9",
        "name": "Channel 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "7",
        "quantity": "1",
        "server": "240d0a948d22ed88",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1130,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "512ea63ee6a16ac0",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Channel 1",
        "tooltip": "",
        "group": "506897c551852812",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 60,
        "wires": [
            [
                "614671cb014b65ea"
            ]
        ]
    },
    {
        "id": "a884592b72a738a6",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Channel 2",
        "tooltip": "",
        "group": "506897c551852812",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "59f9166387b43535"
            ]
        ]
    },
    {
        "id": "72e09dce5173fc5d",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Channel 3",
        "tooltip": "",
        "group": "506897c551852812",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 180,
        "wires": [
            [
                "0dfbc6f790427e16"
            ]
        ]
    },
    {
        "id": "326007347c793c94",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Channel 4",
        "tooltip": "",
        "group": "506897c551852812",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 240,
        "wires": [
            [
                "601ffcb50f94b1cb"
            ]
        ]
    },
    {
        "id": "d81ac9f0e4c7dfed",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Channel 5",
        "tooltip": "",
        "group": "506897c551852812",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 300,
        "wires": [
            [
                "cbd434b803816faf"
            ]
        ]
    },
    {
        "id": "f6bdb85c46a35daa",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Channel 6",
        "tooltip": "",
        "group": "506897c551852812",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 360,
        "wires": [
            [
                "aa2e147c73fc1764"
            ]
        ]
    },
    {
        "id": "570e64b52d3f3aec",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Channel 7",
        "tooltip": "",
        "group": "506897c551852812",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 420,
        "wires": [
            [
                "0e0b9d066d3ee1fa"
            ]
        ]
    },
    {
        "id": "85a51e9dd4223147",
        "type": "ui_switch",
        "z": "9118866ee87cc3d9",
        "name": "",
        "label": "Channel 8",
        "tooltip": "",
        "group": "506897c551852812",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 480,
        "wires": [
            [
                "c47d14c79f223ada"
            ]
        ]
    },
    {
        "id": "20353f0c7bb2bf15",
        "type": "ui_group",
        "name": "Digital Input",
        "tab": "eb886b0158e1ffab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "240d0a948d22ed88",
        "type": "modbus-client",
        "name": "RS485",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyACM0",
        "serialType": "RTU",
        "serialBaudrate": "4800",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "506897c551852812",
        "type": "ui_group",
        "name": "Digital Output",
        "tab": "eb886b0158e1ffab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb886b0158e1ffab",
        "type": "ui_tab",
        "name": "Modbus RTU IO Extender",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]